.Container {
  min-height: 600px;
  margin: var(--center-form-offset) 0;
  margin-top: calc(var(--center-form-offset) - 20px);
}

.Form {
  width: 504px;
  margin: 0 auto;
}

@media (max-width: 532.98px) {
  .Container {
    min-height: 612px;
    margin: var(--offset-superior-large) 0;
    margin-top: calc(var(--offset-superior-large) - 20px);
  }

  .Form {
    width: 300px;
  }
}