@import '../../styles/variables.scss';

.Spinner {
  margin: $offset-extra-large auto $offset-extra-large;
  width: 72px;
  text-align: center;
}

.Spinner > div {
  width: 16px;
  height: 16px;
  background-color: $purple-primary;

  border-radius: 80%;
  display: inline-block;
}

.Spinner > div :global {
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.Spinner .Bounce1 {
  animation-delay: -0.32s;
}

.Spinner .Bounce2 {
  animation-delay: -0.16s;
}

@keyframes :global(bouncedelay) {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
