.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.anthem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 0 40px;
  padding: 0 30px;
}

.anthem-item {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 28px;
  line-height: 42px;

  color: var(--purple-9);
}

.login-heading,
.login-heading {
  margin: 0 0 40px;
  padding: 0 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: var(--gray-9);
}

.loader {
  position: relative;
  margin: 50px auto;
  width: 40px;
  height: 40px;

  font-size: 10px;
  text-indent: -9999em;
  border-radius: 50%;
  background: var(--purple-9);
  background: linear-gradient(to right, var(--purple-9) 10%, var(--blue-1) 42%);
  
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}

.loader:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 50%;
  background: var(--purple-9);
  border-radius: 100% 0 0 0;
  
  content: '';
}

.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 75%;
  height: 75%;
  margin: auto;
  
  background: var(--white);
  border-radius: 50%;
  
  content: '';
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
