@import './../../app.css';

.visuallyHidden:not(:focus):not(:active),
input[type='checkbox'].visuallyHidden,
input[type='radio'].visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.anthem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 0 40px;
  padding: 0 30px;
}

.anthem__item,
.anthem__itemPurple {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 60px;

  color: var(--white);
}

.anthem__itemPurple {
  font-weight: 500;

  font-size: 28px;
  line-height: 42px;

  color: var(--purple-9);
}

.login__heading,
.login__headingPurple {
  margin: 0 0 40px;
  padding: 0 30px;

  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: var(--purple-7);
}

.login__headingPurple {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: var(--gray-9);
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--purple-9);
  background: -moz-linear-gradient(left, var(--purple-9) 10%, var(--blue-1) 42%);
  background: -webkit-linear-gradient(left, var(--purple-9) 10%, var(--blue-1) 42%);
  background: -o-linear-gradient(left, var(--purple-9) 10%, var(--blue-1) 42%);
  background: -ms-linear-gradient(left, var(--purple-9) 10%, var(--blue-1) 42%);
  background: linear-gradient(to right, var(--purple-9) 10%, var(--blue-1) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--purple-9);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: var(--white);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
