.anthem-item {
  margin: 0;
  margin-bottom: var(--offset-small);
  padding: 0;
  
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);

  color: var(--purple-primary);
}

.login-heading {
  margin: 0;
  margin-bottom: var(--offset-large);

  font-style: normal;
  font-weight: 500px;
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: var(--gray);
}

@media (min-width: 533px) and (max-width: 767.98px) {
  .anthem-item {
    max-width: 504px;
  }

  .login-heading {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
}

@media (max-width: 532.98px) {
  .anthem-item {
    display: none;
  }

  .login-heading {
    font-size: var(--font-size);
    line-height: var(--line-height);

    color: var(--purple-primary);
  }
}