.FormItem {
  position: relative;
  margin: 0;
  padding: 0;
}

.FormItem input {
  border: 0.5px solid var(--gray-light);
}

.FormItem:first-child input {
  border-radius: 8px 8px 0px 0px;
}

.FormItem:last-child input {
  border-radius: 0px 0px 8px 8px;
  border-top: none;

  margin-bottom: var(--offset-large);
}

.FormItem:not(:first-child) input {
  border-top: none;
}

.FormItem:only-child input {
  border-radius: 8px 8px 8px 8px;
}

.FormLabel {
  position: absolute;
  top: 30px;
  left: 24px;
}

.FormText:focus + .FormLabel {
  top: 8px;
  transition: top 0.1s ease-out;
}

.FormText::placeholder {
  color: transparent;
}

.FormText:focus::placeholder {
  color: var(--gray-light); 
}

.FormText:not(:focus):not(:placeholder-shown) + .FormLabel {
  top: 8px;
}

.FormLabel span {
  position: absolute;
  left: 24px;
  bottom: 24px;

  color: var(--purple-primary);

  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.FormText {
  box-sizing: border-box;
  height: 73px;
  width: 100%;
  padding: var(--offset) 0 0 var(--offset);

  font: inherit;
  background-color: transparent;

  border: none;
  outline: none;
}

.FormText:focus {
  background-color: var(--white);
  border: 0.5px solid var(--purple-primary);
  box-shadow: none;
}

@media (max-width: 532.98px) {
  .FormLabel input[placeholder], 
  .FormLabel span {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }

  .FormItem:last-child input {
    margin-bottom: var(--offset);
  }
}