
.form__label input[placeholder] {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #541594;
}

.form__text {
  box-sizing: border-box;
  height: 73px;
  width: 100%;
  padding: 30px 0 0 30px;

  font: inherit;
  background-color: #C5B6D9;

  border: 0px solid #541594;
}

.form__text:focus {
  background-color: #f9f7ff;
}

.form__label {
  position: relative;
}

.form__label span {
  position: absolute;
  left: 30px;
  bottom: 30px;

  color: #541594;

  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
