.form-item {
  margin: 0;
  padding: 0;
}

.form-item:first-child input {
  border-radius: 10px 10px 0px 0px;
}

.form-item:last-child input {
  border-radius: 0px 0px 10px 10px;
}

.form-item:not(:first-child) input {
  border-top: none;
}

.form-item:only-child input {
  border-radius: 10px 10px 10px 10px;
}

.form-item input:focus {
  outline: none;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 0 2px var(--purple-primary);
}

.form-label {
  position: relative;
}

.form-label input[placeholder] {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: var(--purple-primary);
}

.form-label span {
  position: absolute;
  left: 30px;
  bottom: 30px;

  color: var(--purple-primary);

  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.form-text {
  box-sizing: border-box;
  height: 73px;
  width: 100%;
  padding: 30px 0 0 30px;

  font: inherit;
  background-color: transparent;

  border: 1px solid var(--gray-light);
}

.form-text:focus {
  background-color: var(--white);
}

@media (max-width: 532.98px) {
  .form-label input[placeholder], 
  .form-label span {
    font-size: 16px;
    line-height: 24px;
  }
}