@import './../../app.css';

html,
body {
  height: 100%;
}

body {
  color: var(--purple-8);

  background-color: var(--white);
}

.header {
  border-bottom: 1px solid var(--gray-6);
}

.container {
  margin: 0 auto;
  padding: 30px 10px;
}

.userNav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 21px;
  color: var(--purple-9);
}

