.checkbox-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: var(--offset-small);
}


.checkbox-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 var(--offset-medium) 0 0;

  cursor: pointer;
}

.checkbox-item input[type="checkbox"]:hover,
.checkbox-item input[type="checkbox"]:focus {
  transition: all 0.2s ease-in-out;
}
