@import './../../app.css';

.header {
  border-bottom: 1px solid var(--gray-6);
}

.container {
  width: max-content;
  margin: 0 auto;
  padding: 135px 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.icon-nav {
  margin: 20px 30px;
} 

.form-wrapper {
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 32px;
}