.container {
  width: max-content;
  margin: 0 auto;
  padding: 135px 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 20px 30px;
}

.icon-nav {
  margin: 20px 30px;
} 

.form-wrapper {
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 32px;
}

@media (max-width: 532.98px) {
  .container {
    padding: 155px 10px;
  }
  

  .header {
    border-bottom: none;
  }
  
  .iconNav {
    display: none;
  }

  .nav {
    display: block;
    text-align: right;
    margin: 0;
  }
}