.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 128px;
  height: 56px;
  
  font: inherit;
  text-transform: capitalize;
  color: var(--white);
  
  background-color: var(--purple-primary);
  border: none;
  border-radius: 8px;
}
  
.button:hover,
.button:focus,
.button:active {
  color: var(--purple-primary);
  
  background-color: var(--white);
  box-shadow: 0px 2px 2px var(--link-hovered);

  transition: all 0.2s ease-in-out;
}