.ListItem {
  list-style: none;

  margin: 0;
  padding: 0;

  color: var(--link);
}

.ListItem li {
  list-style: none;

  margin-bottom: var(--offset-small);
  padding-left: 0;
}

.ListItem li:hover,
.ListItem li:focus {
  width: max-content;

  border-radius: 4px;
  background-color: var(--white);

  transition: all 0.2s ease-in-out;
}