@import "../../styles/variables.scss";

.CatalogList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.CatalogLink {
  position: absolute;

  width: 100%;

  border-radius: 8px;
}

.CatalogLinkLong {
  position: absolute;
  bottom: 48px;

  width: 100%;

  border-radius: 8px;
}

.CatalogHeaderLong {
  margin: 0;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: $offset-medium;
}

.CatalogItem,
.CatalogItemLong {
  position: relative;
  overflow: hidden;

  margin: 0;
  padding: 0;
  margin-right: $offset-medium;
  margin-bottom: $offset;
  width: 190px;
  height: 280px;

  list-style: none;
  background-color: $purple-dark;
  border-radius: 8px;
  box-shadow: 0 0 8px $black-transparent;
}

.CatalogItemLong,
.CatalogItemLong img {
  margin-right: 0;
  margin-bottom: $offset;

  width: 268px;
  height: 640px;
}



.Index {
  margin: 0;
  margin-right: $offset-medium;
  width: 32px;

  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  line-height: $line-height-large;
  color: $gray;
}

.CatalogItem:hover,
.CatalogItem:focus,
.CatalogItemLong:hover,
.CatalogItemLong:focus {
  box-shadow: 8px 0 24px $black-transparent;
}

.CatalogLink:hover,
.CatalogLink:focus,
.CatalogLinkLong:hover,
.CatalogLinkLong:focus {
  color: $white;
  text-decoration: underline;
}

.CatalogHeader {
  margin: 0;
  padding: $offset-medium;
}

.CatalogCategory,
.CatalogCategoryLong {
  display: flex;
  padding: $offset-medium $offset-small;

  font-weight: $font-weight-bold;
  font-size: $font-size;
  color: $white;

  background: transparent;
  border-radius: 8px;
  backdrop-filter: blur(36px);
}

.CatalogCategoryLong {
  align-items: center;

  height: 120px;
  margin: 0 $offset-medium;
  padding: 0 $offset-small;

  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

@media screen and (min-width: 900px) and (max-width: 1279.98px) {
  .CardContainer {
    margin-right: $offset-medium;
  }

  .CatalogItem {
    width: 168px;
    height: 248px;
  }

  .CatalogItemLong,
  .CatalogItemLong img {
    margin-bottom: $offset;

    width: 176px;
    height: 400px;
  }
}

@media screen and (min-width: 533px) and (max-width: 899.98px) {
  .CardContainer {
    margin-right: $offset-small;
  }

  .CatalogItem {
    width: 144px;
    height: 212px;
  }

  .CatalogItemLong,
  .CatalogItemLong img {
    width: 152px;
    height: 224px;
  }

  .CatalogCategoryLong {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }
}

@media screen and (max-width: 532.98px) {
  .Index {
    margin-right: $offset-small;
  }

  .CatalogItem {
    width: 128px;
    height: 188px;
  }

  .CatalogItemLong,
  .CatalogItemLong img {
    width: 152px;
    height: 224px;
  }

  .CatalogCategoryLong {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }
}