.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-link {
  position: absolute;

  width: 100%;

  border-radius: 10px;
}

.catalog-link-long {
  position: absolute;
  bottom: 50px;

  width: 100%;

  border-radius: 10px;
}

.catalog-header-long {
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 32px;
}

.catalog-item,
.catalog-item-long {
  position: relative;

  overflow: hidden;

  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 190px;
  height: 280px;
  
  list-style: none;
  background-color: var(--purple-dark);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--black-transparent);
}

.catalog-item-long,
.catalog-item-long img {
  margin-right: 0;
  margin-bottom: 20px;
  
  width: 268px;
  height: 640px;
}

img {
  position: absolute;
}

.index {
  margin: 0;
  margin-right: 16px;
  width: 40px;

  font-weight: 500;
  font-size: 58px;
  line-height: 58px;
  color: var(--gray);
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-item-long:hover,
.catalog-item-long:focus {
  box-shadow: 5px 0 25px var(--black-transparent);
}

.catalog-link:hover,
.catalog-link:focus,
.catalog-link-long:hover,
.catalog-link-long:focus {
  color: var(--white);
  text-decoration: underline;
}

.catalog-header {
  margin: 0;
  padding: 16px;
}

.catalog-category,
.catalog-category-long {
  display: flex;
  padding: 16px 8px;
  
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  
  background: var(--purple-5);
  border-radius: 10px;
  backdrop-filter: blur(36px);
}

.catalog-category-long {
  align-items: center;
  
  height: 120px;
  margin: 0 16px;
  padding: 0 8px;
  
  font-size: 36px;
  line-height: 54px;
}
