* {
    font-family: Poppins;
}

.catalogList {
    display: flex;
    flex-wrap: wrap;
}

.catalogItem {
    border-radius: 10px;
    background-color: #2b1f33;
    box-shadow: 0 0 10px rgba(0, 1, 1, 0.2);
    margin: 15px;
    /*background: url('../../assets/images/code.jpg');*/
}

.card-container {
    display: flex;
}

.index {
    font-weight: 500;
    font-size: 58px;
    line-height: 58px;
    color: #B3B6B6;
    width: 56px;
}

.catalogItem:hover {
    box-shadow: 5px 0 25px rgba(0, 1, 1, 0.3);
}

.catalogLink:hover {
    color: #FFFFFF;
    background: rgba(95, 35, 200, 0.3);
    text-decoration: underline;
}

.catalogHeader {
    padding: 16px;
}

.catalogCategory {
    padding: 8px;
    background: rgba(45, 0, 122, 0.57);
    font-weight: 500;
    font-size: 18px;
    display: flex;
    color: #FFFFFF;
}