@import './../../app.css';

.form__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 32px;
}

.form__restore {
  color: var(--purple-7);

  text-decoration: underline;
}

.form__restore:hover,
.form__restore:focus {
  color: var(--purple-4);

  text-decoration: none;
}