.form-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: var(--offset-large);
}

@media (max-width: 532.98px) {
  .form-actions {
    display: block;
    text-align: left;
  }
}