@import '../../styles/variables.scss';

.CourseInfo {
  display: flex;
  justify-content: space-between;
  margin-right: $offset-superior-large;
}

.CourseRow {
  margin: $offset-small 0;
  font-size: $font-size;
  line-height: $line-height;
  box-sizing: content-box;
}

.CourseRow td {
  padding-top: $offset-small;
  vertical-align: top;
}

.CourseTerm {
  width: 140px;
  padding-right: $offset-medium;
}

.CourseCell {
  width: 330px;
  font-weight: $font-weight-bold;
}

.CourseTable {
  margin-bottom: $offset-large;
}

.CourseDescription {
  width: 650px;
  margin: 0;
  margin-bottom: $offset-large;

  font-size: $font-size;
  line-height: $line-height;
}
