.course-info {
  display: flex;
  justify-content:space-between;
  margin-right: var(--offset-superior-large);
}

.course-row {
  margin: var(--offset-small) 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
  box-sizing: content-box;
}

.course-row td {
  padding-top: var(--offset-small);
  vertical-align: top;
}

.course-term {
  width: 140px;
  padding-right: var(--offset-medium);
}

.course-cell {
  width: 330px;
  font-weight: var(--font-weight-bold);
}

.course-table {
  margin-bottom: var(--offset-large);
}

.course-description {
  width: 650px;
  margin: 0;
  margin-bottom: var(--offset-large);
  
  font-size: var(--font-size);
  line-height: var(--line-height);
}
