/* colors */
$black-transparent: rgba(0, 1, 1, 0.2);
$gray-light: #b3b6b6;
$gray: #757575;
$white: #ffffff;
$gray-1: #f8f8f8;
$purple-primary: #541594;
$purple-dark: #2b1f33;
$blue-magenta: rgba(60, 17, 134, 0.3);
$green-tertiary: #b9f23d;
$black: #0d0d0d;
$link: #8d6fdd;
$link-hovered: #a199c7;

/* font sizes */
$font-family: 'Montserrat', 'Arial', sans-serif;
$font-size: 16px;
$font-size-small: 14px;
$font-size-medium: 24px;
$font-size-large: 48px;
$font-weight-bold: 500;

$line-height: 24px;
$line-height-small: 21px;
$line-height-medium: 42px;
$line-height-large: 58px;

/* offsets */
$offset: 24px;
$offset-small: 8px;
$offset-medium: 16px;
$offset-large: 32px;
$offset-extra-large: 48px;
$offset-superior-large: 72px;

/* component sizes */

$header-height: 110px;
