@import "../../../styles/mixins.scss";

.input {
  display: flex;
  height: 32px;

  padding: 0 14px;
  border: none;

  box-sizing: border-box;
  width: 340px;
  margin: 0 auto;
  background-color: var(--gray-1);

  &__label {
    flex-basis: 94%;
  }
  
  &__button {
    position: relative;

    flex-basis: 6%;

    height: 100%;
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  &__button:before {
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 6px;

    width: 16px;
    height: 16px;

    content: "";
    background-size: cover;
  }

  &__button_search:before {
    background-image: url("../../assets/icons/search.svg");
  }

  &__button_heart:before {
    background-image: url("../../assets/icons/heart.svg");
  }

  &__input {
    @include base-font;

    width: 100%;
    height: 100%;

    border: transparent;
    outline: none;
    color: var(--purple-primary);

    background: transparent;
    transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
    padding: 0;
    margin: 0;
  }

  &__input::placeholder {
    @include base-font;

    text-transform: uppercase;
  }

}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .input {
    width: 140px;
  }

  .search__button:before {
    position: absolute;
    top: 1px;
    left: 11px;

    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 642px) and (max-width: 767.98px) {
  .input {
    width: 100px;
  }
}

@media screen and (max-width: 641.98px) {
  .input {
    display: none;
  }
}
