.NavLogo {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  width: 182px;
  height: auto;
}

// TODO: Fix svg size control

@media screen and (min-width: 925px) and (max-width: 1026px) {
  .NavLogo {
    // width: 135px;
    // height: 32px;
  }
}

@media screen and (max-width: 924.98px) {
  .NavLogo {
    display: none;
  }
}
