@import './../../app.css';

.preview{
    position: relative;
    min-height: 630px;
    background: url(./../../assets/images/notebook.png);
}

.preview_info{
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width: 300px;
    padding: 50px;
}

.preview_info_text{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: var(--white);
}

.preview_info_button{
    display: flex;
    justify-content: space-between;
}