.nav-account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  margin-right: 30px;
  
  list-style: none;
}

.nav-account-item:not(:last-child) {
  padding-right: 20px;
}

.nav-account-link {
  padding: 10px;
}

.nav-account-link:hover,
.nav-account-link:focus {
  text-decoration: underline;
  background-color: var(--white);

  transition: all .2s ease-in-out;
}

.nav-account-link:visited {
  color: var(--purple-dark);
}

@media (max-width: 532.98px) {
  .nav-account {
    display: block;
    text-align: right;

    font-size: 16px;
    line-height: 24px;

    margin-right: 20px;

  }
}