@import "../../styles/variables.scss";

.PageHeader {
  margin: 0;
  padding: $offset 0;
  
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  
  text-align: left;
  
  color: $purple-primary;
}

.CourseHeader {
  display: flex;
  align-items: center;

  margin-bottom: $offset;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  line-height: $line-height-large;
  
  color: $white;
}

@media screen and (max-width: 1279.98px) {
  .PageHeader {
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
  
  .CourseHeader {
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
}