.page-header {
  margin: 0;
  padding: 30px 0;
  
  font-style: normal;
  font-weight: var(--font-weight-bold);
   font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  
  text-align: left;
  
  color: var(--purple-primary);
}

.course-header {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  
  color: var(--white);
}
