.wrapper {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 3px;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
  display: block;
}

.dropdown-button {
  width: 30px;
  height: 30px;
  padding: 0;

  font: inherit;
  color: inherit;

  background: url('../../assets/icons/user-account.svg') no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;

  cursor: pointer;
}

.dropdown-button:hover,
.dropdown-button:focus {
  filter: saturate(150%);

  transition: all 0.2s ease-in-out;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -32px;
  z-index: 1;

  display: none;
  width: 107px;
  padding: 16px 8px;
  
  background-color: var(--white);
  border: 0.5px solid var(--gray-light);
  border-radius: 0 0 4px 4px;
}

.dropdown-link {
  display: block;
  align-items: center;
  
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #541594;
}

@media (max-width: 641.98px) {
  .dropdown-button {
    background: url('../../assets/icons/menu.svg') center no-repeat;
  }
} 