@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  @include container-primary;
  min-height: $header-height;
  position: sticky;
  top: 0;
  z-index: 2;
  
  .header {
    @include container-child;

    &__account {
      display: flex;
      align-items: center;
      max-width: 325px;
      grid-gap: 40px;
      justify-content: space-between;
    }
  }
}
