.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 100px;

  &__nav {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 27px;
    place-content: center;
    max-width: 608px;
  }
  
  &__link {
    display: flex;
    align-items: center;
    align-self: baseline;
    padding: 0;
    padding-bottom: 4px;

    &_img {
      max-width: 220px;
      height: 32px;
    }
  }

  &__account {
    display: flex;
    align-items: center;
    width: 313px;
    justify-content: space-between
  }
}

// TODO: Fix svg size control

@media screen and (min-width: 925px) and (max-width: 1026px) {
  .header__link {
    // width: 135px;
    // height: 32px;
  }
}

@media screen and (max-width: 924.98px) {
  .header__link {
    display: none;
  }
}

@media screen and (min-width: 549px) and (max-width: 767.98px) {
  .header__nav {
    width: stretch;
  }
}

@media screen and (max-width: 548.98px) {
  .header__nav {
    display: contents;
    vertical-align: middle;
  }
}
