.HeaderWrapper {
  border-bottom: 1px solid var(--gray-light);
}

.Header {
  display: flex;
  justify-content: space-between;
  margin: var(--offset) var(--offset-large);
}

.HeaderNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: var(--offset);

  list-style: none;
}


.NavLogo {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  // width: 182px;
  // height: auto;
}

.Logo {
  width: 135px;
  height: 32px;
}

// TODO: Fix svg size control

@media screen and (min-width: 925px) and (max-width: 1026px) {
  .NavLogo {
    // width: 135px;
    // height: 32px;
  }
}

@media screen and (max-width: 924.98px) {
  .NavLogo {
    display: none;
  }
}

@media screen and (min-width: 549px) and (max-width: 767.98px) {
  .HeaderNav {
    width: stretch;
  }

  .HeaderWrapper {
    border-bottom: none;
  }
}

@media screen and (max-width: 548.98px) {
  .HeaderNav {
    display: contents;
    vertical-align: middle;
  }

  .HeaderWrapper {
    border-bottom: none;
  }
}