.header-wrapper {
  border-bottom: 1px solid var(--gray-light);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: var(--offset) var(--offset-large);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: var(--offset);
  
  list-style: none;
}

@media (min-width: 549px) and (max-width: 767.98px) {
  .header-nav {
    width: stretch;
  }

  .header-wrapper {
    border-bottom: none;
  }
}

@media (max-width: 548.98px) {
  .header-nav {
    display: contents;
    vertical-align: middle;
  }

  .header-wrapper {
    border-bottom: none;
  }
}