@import '../../styles/variables.scss';

.CheckboxLabel {
  color: $link;
  margin-left: 8px;

  cursor: pointer;
}

.CheckboxLabel:hover,
.CheckboxLabel:focus {
  color: $link-hovered;
}

@media screen and (max-width: 532.98px) {
  .Checkbox {
    margin-right: $offset-small;
  }

  .CheckboxLabel {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }
}
