.CheckboxLabel {
  color: var(--link);
  margin-left: 8px;

  cursor: pointer;
}

.CheckboxLabel:hover,
.CheckboxLabel:focus {
  color: var(--link-hovered);
}

@media screen and (max-width: 532.98px) {
  .Checkbox {
    margin-right: var(--offset-small);
  }

  .CheckboxLabel {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }
}
