@import './../../app.css';

.filterItemPurple,
.filterItemWhite {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--purple-9);
}

.filterItemWhite {
  color: var(--purple-7);
}

.checkboxItem {
  list-style: none;
    margin: 0;
   padding: 0;
}

.filterItemPurple .checkboxItem {
  list-style: none;

  padding: 6px;
  margin-bottom: 6px;
  padding-left: 0;
}

.filterItemPurple .checkboxItem:hover,
.filterItemPurple .checkboxItem:focus {
  width: max-content;
  
  border-radius: 4px;
  background-color: var(--white);

  transition: all .2s ease-in-out;
}

.form__checkbox {
  position: relative;

  width: 15px;
  height: 15px;
  margin-right: 15px;

  cursor: pointer;
}

.form__checkboxLabel {
  color: inherit;

  cursor: pointer;
}

.form__checkboxLabel:hover,
.form__checkboxLabel:focus {
  color: var(--purple-6);
}

