.filter-item {
  list-style: none;

  margin: 0;
  padding: 0;

  color: var(--link);
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: var(--offset-small);
}

.checkbox-item input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin: 0 var(--offset-medium) 0 0;

  cursor: pointer;
}

.checkbox-item input[type=checkbox]:hover,
.checkbox-item input[type=checkbox]:focus {
  transition: all 0.2s ease-in-out;
}

.checkbox-label {
  color: inherit;

  cursor: pointer;
}

.checkbox-label:hover,
.checkbox-label:focus {
  color: var(--link-hovered);
}

@media (max-width: 532.98px) {
  .checkbox {
    margin-right: var(--offset-small);
  }

  .checkbox-label {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }
}
