.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;

  border-top: 1px solid var(--gray-light);
  background-color: var(--white);
}

.footer-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
  list-style: none;
  padding: 0;
  margin: 16px 48px;
}

.footer-item:not(:last-child) {
  margin-right: 24px;
}

.footer-link {
  padding: 8px 8px;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: var(--gray);
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
  border-radius: 8px;

  transition: all 0.2s ease-in-out;
}


@media (min-width: 533px) and (max-width: 767.98px) {
  .footer-list {
    margin: 8px 48px;
  }

  .footer-link {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }
}

@media (max-width: 532.98px) {
  .footer-wrapper {
    border-top: none;
  }
 
  .footer-list {
    display: none;
  }
}
