.footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0; 
 
  width: 100%;
  border-top: 1px solid var(--gray-6);
}

.footer-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
  list-style: none;

  margin-right: 30px;
}

.footer-item:not(:last-child) {
  padding-right: 20px;
}

.footer-link {
  padding: 0 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: var(--gray-9);
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
  border-radius: 4px;

  transition: all .2s ease-in-out;
}

@media (min-width: 533px) and (max-width: 767.98px) {
  .footer-list {
    margin-right: 5px;
  }

  .footer-item:not(:last-child) {
    padding: 0;
  }

  .footer-link {
    padding: 0 5px;
  }  
}


@media (max-width: 532.98px) {
  .footer-wrapper {
    border-top: none;
  }
 
  .footer-list {
    display: none;
  }
}