.container {
  min-height: 600px;
  margin: var(--center-form-offset) 0;
  margin-top: calc(var(--center-form-offset) - 20px);
}

.form {
  width: 504px;
  margin: 0 auto;
}

.form-wrapper {
  border: 1px solid var(--gray-light);
  margin-bottom: var(--offset-large);
  border-radius: 8px;
}
.devider {
  height: 1px;
  background-color: var(--gray-light);
  width: 100%;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: var(--offset-large);
}

.buttons a {
  width: 100%;
}

@media (max-width: 532.98px) {
  .container {
    min-height: 612px;
    margin: var(--offset-superior-large) 0;
    margin-top: calc(var(--offset-superior-large) - 20px);
  }

  .form {
    width: 300px;
  }

  .form-wrapper {
    margin-bottom: var(--offset);
  }
  
}