.container {
  min-height: 600px;
  margin: var(--center-form-margin) 0;
  margin-top: calc(var(--center-form-margin) - 20px);
}

.form {
  width: 504px;
  margin: 0 auto;
}

.form-wrapper {
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 32px;
}

.buttons a {
  width: 100%;
}

@media (max-width: 532.98px) {
  .container {
    min-height: 612px;
    margin: 72px 0;
    margin-top: calc(72px - 20px);
  }

  .form {
    width: 300px;
  }

  .form-wrapper {
    margin-bottom: 24px;
  }
  
}