.container {
  width: 504px;
  margin: 0 auto;
}

.form-wrapper {
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 32px;
}

.buttons a {
  width: 100%;
}
