/* poppins-regular - latin */
@import './assets/font.css';

:root {
  --purple-9: #541594;
  --dark-purple: #2b1f33;
  --purple-7: #8d6fdd;
  --purple-6: #A199C7;
  --purple-5: rgba(60,17,134,0.3);
  --purple-4: #bcaee2;
  --purple-3: rgba(95, 35, 200, 0.3);
  --gray-9: #999999;
  --gray-8: #B3B6B6;
  --gray-7: rgba(235,235,235,1);
  --gray-6: #C0C0C0;
  --white: #FFFFFF;
  --black-1: rgba(0, 1, 1, 0.2);
  --black: #000000;
  --blue-9: rgba(13, 14, 56, 0.25);
  --blue-1: rgba(71,32,213, 0);
  --blue: #553bd8;

  @custom-media --media-xlg (min-width: 1920px);
  @custom-media --media-lg (min-width: 1280px) and (max-width: 1919.98px);
  @custom-media --media-md (min-width: 768px) and (max-width: 1279.98px);
  @custom-media --media-sm (min-width: 533px) and (max-width: 767.98px);
  @custom-media --media-xsm (max-width: 532.98px);
}
  
body {
  margin: 0;
  padding: 0;

  background-color: var(--white);
  
  font-family: 'Poppins', 'Century Gothic', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #3c2d86;
}
  
a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visuallyHidden,
input[type='radio'].visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
