@import './assets/font.css';
@import './utils/style/media.config.css';

:root {
  /* color pallete */
  --black-transparent: rgba(0, 1, 1, 0.2);
  --gray-light: #b3b6b6;
  --gray: #757575;
  --white: #ffffff;

  --purple-primary: #541594;
  --purple-dark: #2b1f33;
  --blue-magenta: rgba(60,17,134,0.3);
  
  --link: #8d6fdd;
  --link-hovered: #a199c7;

  /* font sizes */

  --font: 'Poppins', 'Century Gothic', 'Arial', sans-serif;
  --font-size: 16px;
  --font-size-small: 14px;
  --font-size-medium: 24px;
  --font-size-large: 48px;

  --line-height: 24px;
  --line-height-small: 21px;
  --line-height-medium: 42px;
  --line-height-large: 58px;

  --font-weight-normal: 400;
  --font-weight-bold: 500;

  /* offsets */
  --offset-small: 8px;
  --offset-medium: 16px;
  --offset: 24px;
  --offset-large: 32px;
  --offset-extra-large: 48px;
  --offset-superior-large: 72px;
  --offset-container: 136px;

  --center-form-offset: 128px;
}

html {
  display: flex;
  justify-content: center;
  position: relative;

  color: var(--purple-primary);

  font-size: var(--font-size);
  font-family: var(--font);
  
  min-width: 480px;
  min-height: 100%;
}

body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  width: 100%;

  background-color: var(--white);
  
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight-bold);
  color: var(--purple-primary);
}
  
a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visuallyHidden,
input[type='radio'].visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
