/* poppins-regular - latin */
@import './assets/font.css'; 
 
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: 'Poppins', 'Century Gothic', 'Arial', sans-serif; 
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visuallyHidden:not(:focus):not(:active),
  input[type='checkbox'].visuallyHidden,
  input[type='radio'].visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  