@import './../../app.css';

.header_nav_item{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #541594;
}

.header_nav_item:not(:last-child){
    margin-right: 25px;
}

.nav__account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin-right: 30px;
    
    list-style: none;
  }
  
  .nav__accountItem:not(:last-child) {
    padding-right: 20px;
  }
  