@import '../../styles/variables.scss';

.Link {
  font-weight: $font-weight-bold;
  font-size: $font-size;
  line-height: $line-height;

  color: $purple-primary;

  padding: $offset-small $offset-medium;
}

.Link:hover,
.Link:focus {
  text-decoration: underline;

  transition: all 0.2s ease-in-out;
}

.Link:visited {
  color: $gray;
}

.LinkReset {
  color: var(--Link);

  text-decoration: underline;
}

.LinkReset:hover,
.LinkReset:focus {
  color: var(--Link-hovered);

  text-decoration: none;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 128px;
  height: 56px;

  font: inherit;
  color: $white;
  line-height: $line-height-large;

  background-color: $purple-primary;
  border: none;
  border-radius: 8px;
}

.Button:hover {
  color: $purple-primary;

  background-color: $white;
  box-shadow: 0px 4px 4px var(--Link-hovered);

  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .Link {
    font-weight: $font-weight-bold;
    font-size: $font-size;
    line-height: $line-height;

    color: $purple-primary;
  }
}

@media screen and (min-width: 533px) and (max-width: 767.98px) {
  .Link {
    padding: $offset-small $offset-small;
  }
}

@media screen and (max-width: 532.98px) {
  .Link {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }

  .LinkReset {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }

  .Button {
    width: 104px;
    height: 48px;

    font-size: $font-size-small;
    line-height: $line-height-small;
  }
}
