.link {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: var(--line-height);

  color: var(--purple-primary);

  padding: var(--offset-small) var(--offset-medium);
}

.link:hover,
.link:focus {
  text-decoration: underline;

  transition: all 0.2s ease-in-out;
}

.link:visited {
  color: var(--gray);
}

.link-reset {
  color: var(--link);

  text-decoration: underline;
}

.link-reset:hover,
.link-reset:focus {
  color: var(--link-hovered);

  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 128px;
  height: 56px;

  font: inherit;
  color: var(--white);
  line-height: var(--line-height-large);

  background-color: var(--purple-primary);
  border: none;
  border-radius: 8px;
}

.button:hover {
  color: var(--purple-primary);

  background-color: var(--white);
  box-shadow: 0px 4px 4px var(--link-hovered);

  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1279.98px) { 
  .link {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    line-height: var(--line-height);
  
    color: var(--purple-primary);
    }
}

@media (min-width: 533px) and (max-width: 767.98px) { 
  .link {
    padding: var(--offset-small) var(--offset-small);
  }
}

@media (max-width: 532.98px) {
  .link {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
  }

  .link-reset {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }

  .button {
    width: 104px;
    height: 48px;

    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }
}
