.container {
  width: 1200px;
  margin: 0 auto;
  padding: var(--offset-small) 0;
}

@media (min-width: 900px) and (max-width: 1279.98px) {
  .container {
    width: 776px;
  }
}

@media (min-width: 768px) and (max-width: 899.98px) {
  .container {
    width: 648px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 320px;
  }
}