.typography {
 &__weight_normal {
  font-weight: 400;
 } 
 &__weight_bold {
  font-weight: 500;
 }
 &__weight_bolder {
  font-weight: 700;
 }
 &__uppercase {
  text-transform: uppercase;
 }
 &__color_secondary {
    color: var(--black);
 }
 &__color_primary {
    color: var(--purple-primary);
 }
}